HELP.md
# Maven
target/
.mvn/wrapper/maven-wrapper.jar
# Logs
*.log
# Java
*.class
# Archivos de configuración local
.env
.env.*
application-local.properties
application-dev.properties
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
# Eclipse / STS
.project
.classpath
.settings/
.springBeans
.sts4-cache/
# VS Code
.vscode/
# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
# macOS
.DS_Store
# Windows
Thumbs.db